[Unit]
Description=Jandroid

[Service]
ExecStart=/usr/bin/mjpg_streamer -i "/usr/lib/input_uvc.so  -r 640x480 -f 15" -o "/usr/lib/output_http.so -p 8090" -b
Type=forking

[Install]
WantedBy=multi-user.target
